<div class="fullscreen bg-secondary overlay" style="z-index: 2000"></div>
<div class="fullscreen d-flex justify-content-center align-items-center" style="z-index: 2001">
    <div class="spinner-grow h2 text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>